@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=Rubik:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-main-rubik: "Rubik", sans-serif;
  --font-additional-istok: "Istok Web", sans-serif;

  /* colors */
  --white: #ffffff;
  --black: #000000;
  --yellow: #fdd446;
  --orange: #ff9900;
  --orange-button: #f69b47;
}

body {
  font-family: var(--font-main);
  background-color: var(--white);
  color: var(--black);
  font-size: 18px;
}

a {
  color: var(--black);
  transition: color 0.2s ease-in;
  text-decoration: none;
}

li {
  list-style-type: none;
}

textarea:focus,
input:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* a:hover {
  color: var(--);
} */

.container {
  width: 1446px;
  padding: 0 15px;
  margin: 0 auto;
}

.container_min {
  max-width: 824px;
}

.none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

/* ---------------------------Все по шапке------------------------------ */

.header__top {
  margin-top: 41px;
  padding-bottom: 32px;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__block {
  padding-right: 27px;
}

.element-options {
  height: 60px;
  border-radius: 50px;
  font-size: 22px;
  font-family: var(--font-main-rubik);
  font-weight: 500;
}

.header__form-width {
  width: 575px;
  margin-right: auto;
}

.search__form {
  background-color: var(--white);
  border: 1px solid #00000080;
  padding: 0 21px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.search__icon {
  display: inline-block;
  width: 20px;
  background-color: #ffffff;
}

.form__text {
  padding-left: 13px;
  display: block;
  width: 100%;
}

.entrance {
  width: 190px;
  background-color: var(--white);
  border: 1px solid var(--yellow);
}

.element__entrance {
  padding-right: 21px;
}

.registration {
  background-color: var(--yellow);
  width: 190px;
}

/* ---------------------------Секция с фильтрами------------------------------ */

.section__filters-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__form-width {
  width: 814px;
}

.section__text {
  font-size: 24px;
  font-family: var(--font-main-rubik);
  font-weight: 400;
  line-height: 24px;
}

.select-options {
  height: 40px;
  border: 1px solid #00000080;
  border-radius: 10px;
  padding-left: 10px;
  background-repeat: no-repeat;
}

.select-left {
  width: 216px;
  background-image: url("./img/треугольник\ фильтры.svg");
  background-position: right 13px center;
}

.select__right {
  width: 344px;
  background-image: url("./img/галочка\ по\ умолчанию.svg");
  background-position: right 10px center;
}

/* ---------------------------Основная часть, тело------------------------------ */

.main__carts-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 56px;
}

.main__card {
  padding: 12px 12px 17px 12px;
}

.card__img {
  width: 288px;
  height: 321px;
  border-bottom: 0px solid #ffffff;
  margin-bottom: 13px;
}

.card__text {
  height: 20px;
  margin: -6px 0 19px 0;
}

.card__text {
  font-family: var(--font-additional-istok);
  font-weight: 700;
  font-size: 20px;
}

.card__info {
  display: flex;
}

.stars__name-block {
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  padding-left: 11px;
  line-height: 25px;
  font-family: var(--font-main-rubik);
  font-weight: 400;
  font-size: 20px;
}

.sters__name {
}

.card__button {
  font-family: var(--font-additional-istok);
  font-weight: 400;
  font-size: 24px;

  height: 53px;
  width: 265px;
  border-radius: 20px;

  background: linear-gradient(45deg, var(--yellow), var(--orange-button));
}

.validate__block {
  min-height: 20px;
  display: flex;
  align-items: center;
}

.validate {
  height: 20px;
  display: inline-block;
  padding-right: 8px;
  color: var(--orange);
}

.data__flex  {
  height: 30px;

  padding-top: 3px;
  margin-bottom: 30px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.span__block {
  display: block;
}

.data__options {
  text-align: center;
}

.uniqueness__block {
  border: 2px solid var(--yellow);
  border-radius: 10px;
  
}

.rare__text {
  font-weight: 400;
  font-family: var(--font-main-rubik);
  font-size: 20px;
}

.uniqueness__text {
  width: 130px;
}

.price__text {
  width: 110px;
}

.data__text-option {
  display: grid;
  place-items: center;
  font-weight: 400;
  font-family: var(--font-main-rubik);
  font-size: 16px;
}

.price__block {
  display: block;
  background-color: #fdd446;
  border-radius: 10px;
  padding-bottom: 3px;
}



 /* height: 30px; 
  width: 130px;
  outline: 2px solid var(--yellow);
  border-radius: 10px;
  outline-offset: 10px;
  border-image-source: linear-gradient(45deg, #FFC107, #EC851A); 
  border-image-slice: 1;
  display: inline-block;
  text-align: center;
  padding: auto 0;
  margin-right: 12px;

  /* ---------------------------Секция с номерами страниц------------------------------ */
  .number__pages-block {
    width: 258px;
    height: 40px;
    margin: 0 auto;
  }

  .block__numbers {
    display: flex;
    gap: 32px;
  }

  .button__arrow {
    background: none;
     border: none;
     padding: 0;
  }


  .num__block {
    display: inline-block;
    align-items: center;
    height: 40px;
    width: 40px;
  }

  .num {
    display: block;
    align-items: center;
  }

  .num::before {
    /* position: absolute;
    content: '';
    z-index: 1;
    background-image: url(./img/Ellipse\ 25.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    width: 40px;
    height: 40px;
    display: block; */
    
    /* display: inline-block;
    text-align: center;
    background-color: var(--yellow);
    width: 40px;
    height: 40px;
    border-radius: 50%; */
  }


  /* ---------------------------Подвал------------------------------ */

  .footer {
    margin-top: 160px;
    padding-top: 52px;
    background-color: var(--yellow);

    font-family: var(--font-main-rubik);
    font-size: 18px;
    font-weight: 400;
  }

  .container__footer {
    padding: 0 122px;
  }

  .header__grid {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    justify-content: space-between;
  }

  .logo__footer {
    display: block;
    margin: 0 0 28px -8px;
    
  }

  

  .footer__nav-list {
    display: grid;
    row-gap: 22px;
  }

  .network-list {
    margin-top: 52px;
    display: flex;
    gap: 25px;
  }

  .footer__nav-two {
    display: flex;
    gap: 87px;
    width: 662px;
  }

  .tittle {
    display: block;
    font-family: var(--font-additional-istok);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 37px;
  }


  .footer__star {
    display: block;
    margin: 0 auto;
  }

  .footer__bottom {
    position: relative;
  }
  .footer__bottom:after {
    content: '';
    width: 100%;
    display: block;
    height: 2px;
    background-color: var(--black);
    opacity: 0.5;
    margin-top: -83px;
    position: absolute;
  }

  .footer__bottom-adress {
    display: block;
    right: 0;
    opacity: 0.5;
    position: absolute;
    margin-top: -64px;
  }